CROCSRPAUPDATED/Workflows/Copyof-QueuingFlowsTest-AC9CD4CF-85C0-EC11-983F-000D3A48E645.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr0bf_sharedsharepointonline_16ed1"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_excelonlinebusiness_3": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr0bf_sharedexcelonlinebusiness_814fc"
        },
        "api": {
          "name": "shared_excelonlinebusiness"
        }
      },
      "shared_excelonlinebusiness_4": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr0bf_sharedexcelonlinebusiness_5ac45"
        },
        "api": {
          "name": "shared_excelonlinebusiness"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr0bf_sharedoffice365_95b55"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Email_Received": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "3317dbd3-3312-4d79-b869-4ca944bc0d69"
          },
          "type": "OpenApiConnectionNotification",
          "inputs": {
            "host": {
              "connectionName": "shared_office365_1",
              "operationId": "OnNewEmailV3",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "folderPath": "Inbox",
              "includeAttachments": true,
              "subjectFilter": "Queuing",
              "importance": "Any",
              "fetchOnlyWithAttachment": true
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "concurrency": {
              "runs": 1
            }
          }
        }
      },
      "actions": {
        "Source_File_Path": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f4a82f67-680d-4401-9cb3-7438124a258d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PathofFile",
                "type": "string"
              }
            ]
          }
        },
        "Save_Source_File": {
          "foreach": "@triggerOutputs()?['body/attachments']",
          "actions": {
            "Create_Source_Folder": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a433b635-7121-45ca-a5ba-200daf4dda0a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "CreateNewFolder",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://powerplatformops-my.sharepoint.com/personal/admin_powerplatformops_onmicrosoft_com/_layouts/15/onedrive.aspx",
                  "table": "Documents",
                  "parameters/path": "/SAP/@{variables('GetCurrentDate')}"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Create_Source_File": {
              "runAfter": {
                "Create_Source_Folder": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "974459c2-b132-4a97-8bc6-1cc7240f7533"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "CreateFile",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://powerplatformops-my.sharepoint.com/personal/admin_powerplatformops_onmicrosoft_com/_layouts/15/onedrive.aspx",
                  "folderPath": "/Documents/SAP/@{variables('GetCurrentDate')}",
                  "name": "@{variables('SenderName')}-MainInputFile(@{variables('GetCurrentDate')}).xlsx",
                  "body": "@items('Save_Source_File')?['contentBytes']"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Set_File_Path": {
              "runAfter": {
                "Create_Source_File": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9bc5da3f-217e-4549-a9c2-95751e3610b8"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "PathofFile",
                "value": "@outputs('Create_Source_File')?['body/Path']"
              }
            }
          },
          "runAfter": {
            "End_Time": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fb34ebab-1631-4f0e-892d-5ea38772f01d"
          },
          "type": "Foreach"
        },
        "List_rows_present_in_source_file": {
          "runAfter": {
            "Save_Source_File": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6a75a006-4ea6-4fe8-91b3-83b9613a5a0b",
            "tableId": "Orders"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_excelonlinebusiness_3",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"
            },
            "parameters": {
              "source": "me",
              "drive": "b!3STUphOTrES4W5ORUMpP0ZHfpsD17I9Ahiu0rDfzA1WzRKhPXzYaR6yZXLPSaUDM",
              "file": "@variables('PathofFile')",
              "table": "Orders",
              "dateTimeFormat": "ISO 8601"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 20000
            }
          }
        },
        "concatenated_unprocessed_orders": {
          "runAfter": {
            "Split_processed_orders": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "400b16a0-c863-416e-9b94-dbca8ad8602b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ConcatenatedUnprocessedOrders",
                "type": "string"
              }
            ]
          }
        },
        "unprocessed_counter": {
          "runAfter": {
            "concatenated_unprocessed_orders": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1c5fe44e-817e-42bb-907c-1c62e4e29cfd"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UnProcessedCounter",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "split_Unprocessed_orders": {
          "runAfter": {
            "unprocessed_counter": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e70ba3b4-07bf-4ebc-be26-a63e07e5244c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UnProcessedOrders",
                "type": "array"
              }
            ]
          }
        },
        "Get_Current_Date": {
          "runAfter": {
            "Source_File_Path": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e0297799-9c4b-4cc7-b5a6-79600246557e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "GetCurrentDate",
                "type": "string",
                "value": "@{formatDateTime(utcNow(),'MM-dd-yyyy h.mm tt')}"
              }
            ]
          }
        },
        "Get_Email_Sender": {
          "runAfter": {
            "Get_Current_Date": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e52c6c58-cf7a-47a9-8049-66a4f6b3a78f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SenderName",
                "type": "string",
                "value": "@{first(split(triggerOutputs()?['body/from'],'@'))}"
              }
            ]
          }
        },
        "No_of_VMs": {
          "runAfter": {
            "Get_Email_Sender": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d7ec1bb3-1f9d-477c-bbe3-2b858e1617dd"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NoOfVMs",
                "type": "integer",
                "value": 2
              }
            ]
          }
        },
        "File_Name_for_different_files_": {
          "runAfter": {
            "Terminate_3": [
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "0202ba28-74da-4846-a390-aca6254844ff"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "fileName",
                "type": "integer",
                "value": 1
              }
            ]
          }
        },
        "Length_of_Rows_in_source_file": {
          "runAfter": {
            "File_Name_for_different_files_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "390e1f22-7fce-4aef-acf6-1a2e0f534ee6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Length",
                "type": "integer",
                "value": "@length(body('List_rows_present_in_source_file')?['value'])"
              }
            ]
          }
        },
        "Skip_Count": {
          "runAfter": {
            "Length_of_Rows_in_source_file": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cd62d79b-9de1-4b27-b500-99aa6f831d03"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "skipCount",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Records_per_Bot": {
          "runAfter": {
            "Skip_Count": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "89175b52-0e58-4b78-a545-da23209c5828"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NoOfBots",
                "type": "integer",
                "value": "@div(variables('Length'), variables('NoOfVMs'))"
              }
            ]
          }
        },
        "Mod_of_Records": {
          "runAfter": {
            "Records_per_Bot": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ff0f30ea-8efe-486c-b6cf-e4705ae0f256"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ModofRecords",
                "type": "integer",
                "value": "@mod(variables('Length'), variables('NoOfVMs'))"
              }
            ]
          }
        },
        "Concatenated_processed_orders": {
          "runAfter": {
            "Mod_of_Records": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "de15a933-a85b-47e6-8f7e-9d082105a1aa"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ConcatenatedProcessedOrders",
                "type": "string"
              }
            ]
          }
        },
        "Processed_orders_counter": {
          "runAfter": {
            "Concatenated_processed_orders": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e70ba3b4-07bf-4ebc-be26-a63e07e5244c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ProcessedOrdersCounter",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Split_processed_orders": {
          "runAfter": {
            "Processed_orders_counter": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e70ba3b4-07bf-4ebc-be26-a63e07e5244c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SplitProcessedOrders",
                "type": "array"
              }
            ]
          }
        },
        "List_headers_present_in_a_table": {
          "runAfter": {
            "split_Unprocessed_orders": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "04d2a004-cdf6-4789-9025-a82c774748b8",
            "tableId": "Orders"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_excelonlinebusiness_4",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"
            },
            "parameters": {
              "source": "me",
              "drive": "b!3STUphOTrES4W5ORUMpP0ZHfpsD17I9Ahiu0rDfzA1WzRKhPXzYaR6yZXLPSaUDM",
              "file": "@variables('PathofFile')",
              "table": "Orders",
              "$top": 1,
              "$skip": 0,
              "dateTimeFormat": "ISO 8601"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 10000
            }
          }
        },
        "Create_CSV_table": {
          "runAfter": {
            "Terminate": [
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "adbc4c5f-f17d-4c14-a62c-2ad93d259a0c"
          },
          "type": "Table",
          "inputs": {
            "from": "@outputs('List_headers_present_in_a_table')?['body/value']",
            "format": "CSV"
          }
        },
        "Compose_4": {
          "runAfter": {
            "Create_CSV_table": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "db2500f3-013c-407f-93ec-dc40073cab20"
          },
          "type": "Compose",
          "inputs": "@split(split(body('Create_CSV_table'), decodeUriComponent('%0D%0A'))[0], ',')"
        },
        "Response_email_for_source_file_columns_inconsistency": {
          "runAfter": {
            "List_headers_present_in_a_table": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "106ce5f3-3dfa-420f-aeae-c4ffb119ce80"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365_1",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "@triggerOutputs()?['body/from']",
              "emailMessage/Subject": "Mass documents change error",
              "emailMessage/Body": "<p>Good Day,<br>\n<br>\nFlow is stopped because @{outputs('List_headers_present_in_a_table')?['body'].error.message}<br>\nThanks,<br>\nCrocs Automation&nbsp;</p>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Terminate": {
          "runAfter": {
            "Response_email_for_source_file_columns_inconsistency": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b80dbb7e-ec65-4d4c-8389-ec3bca783fa7"
          },
          "type": "Terminate",
          "inputs": {
            "runStatus": "Failed"
          }
        },
        "Response_email_for_source_file_error": {
          "runAfter": {
            "List_rows_present_in_source_file": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "106ce5f3-3dfa-420f-aeae-c4ffb119ce80"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365_1",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "@triggerOutputs()?['body/from']",
              "emailMessage/Subject": "Mass documents change error",
              "emailMessage/Body": "<p>Good Day,<br>\n<br>\nFlow has stopped because @{outputs('List_rows_present_in_source_file')?['body'].error.message}<br>\n<br>\nThanks,<br>\nCrocs Automation&nbsp;</p>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Terminate_3": {
          "runAfter": {
            "Response_email_for_source_file_error": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d353a8ef-7adb-4084-b9d3-cd1888645bf3"
          },
          "type": "Terminate",
          "inputs": {
            "runStatus": "Failed"
          }
        },
        "Overall_Execution_Time": {
          "runAfter": {
            "No_of_VMs": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8a7729c3-1c60-4a48-88f9-1916f3d640a4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "OverallExecutionTime",
                "type": "string",
                "value": "`"
              }
            ]
          }
        },
        "Start_Time": {
          "runAfter": {
            "Overall_Execution_Time": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bdfda6e2-1761-471e-b1b6-62c24ee069a8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "StartTime",
                "type": "string"
              }
            ]
          }
        },
        "End_Time": {
          "runAfter": {
            "Start_Time": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "930bb083-0475-43b8-9dd7-6e17b282e8fa"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EndTime",
                "type": "string"
              }
            ]
          }
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}