CROCSRPAUPDATED/Workflows/Copyof-QueuingFlowsTest-AC9CD4CF-85C0-EC11-983F-000D3A48E645.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_sharepointonline_4": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_excelonlinebusiness": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_excelonlinebusiness"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_uiflow_1": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_uiflow"
        }
      },
      "shared_onedriveforbusiness_1": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_onedriveforbusiness"
        }
      },
      "shared_powerbi": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_powerbi"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Email_Received": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "3317dbd3-3312-4d79-b869-4ca944bc0d69"
          },
          "type": "OpenApiConnectionNotification",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "connectionName": "shared_office365",
              "operationId": "OnNewEmailV3"
            },
            "parameters": {
              "folderPath": "Inbox",
              "includeAttachments": true,
              "subjectFilter": "Queuing",
              "importance": "Any",
              "fetchOnlyWithAttachment": true
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "concurrency": {
              "runs": 1
            }
          }
        }
      },
      "actions": {
        "Source_File_Path": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f4a82f67-680d-4401-9cb3-7438124a258d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PathofFile",
                "type": "string"
              }
            ]
          }
        },
        "Save_Source_File": {
          "foreach": "@triggerOutputs()?['body/attachments']",
          "actions": {
            "Create_Source_Folder": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a433b635-7121-45ca-a5ba-200daf4dda0a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "CreateNewFolder"
                },
                "parameters": {
                  "dataset": "https://crocsconnect-my.sharepoint.com/personal/thassan_crocs_com/_layouts/15/onedrive.aspx",
                  "table": "Documents",
                  "parameters/path": "/SAP/@{variables('GetCurrentDate')}"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Create_Source_File": {
              "runAfter": {
                "Create_Source_Folder": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "974459c2-b132-4a97-8bc6-1cc7240f7533"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline_4",
                  "operationId": "CreateFile"
                },
                "parameters": {
                  "dataset": "https://crocsconnect-my.sharepoint.com/personal/thassan_crocs_com/_layouts/15/onedrive.aspx",
                  "folderPath": "/Documents/SAP/@{variables('GetCurrentDate')}",
                  "name": "@{variables('SenderName')}-MainInputFile(@{variables('GetCurrentDate')}).xlsx",
                  "body": "@items('Save_Source_File')?['contentBytes']"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Set_File_Path": {
              "runAfter": {
                "Create_Source_File": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9bc5da3f-217e-4549-a9c2-95751e3610b8"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "PathofFile",
                "value": "@outputs('Create_Source_File')?['body/Path']"
              }
            }
          },
          "runAfter": {
            "End_Time": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fb34ebab-1631-4f0e-892d-5ea38772f01d"
          },
          "type": "Foreach"
        },
        "List_rows_present_in_source_file": {
          "runAfter": {
            "Save_Source_File": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6a75a006-4ea6-4fe8-91b3-83b9613a5a0b",
            "tableId": "Orders"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
              "connectionName": "shared_excelonlinebusiness",
              "operationId": "GetItems"
            },
            "parameters": {
              "source": "me",
              "drive": "b!C7-yuaZ23UaZrGncNGZvN_JRZ0T0YadAtV-O-ItLzcrQN7acupJrT5-fAdKSy8bu",
              "file": "@variables('PathofFile')",
              "table": "Orders",
              "dateTimeFormat": "ISO 8601"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 20000
            }
          }
        },
        "concatenated_unprocessed_orders": {
          "runAfter": {
            "Split_processed_orders": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "400b16a0-c863-416e-9b94-dbca8ad8602b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ConcatenatedUnprocessedOrders",
                "type": "string"
              }
            ]
          }
        },
        "unprocessed_counter": {
          "runAfter": {
            "concatenated_unprocessed_orders": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1c5fe44e-817e-42bb-907c-1c62e4e29cfd"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UnProcessedCounter",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "split_Unprocessed_orders": {
          "runAfter": {
            "unprocessed_counter": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e70ba3b4-07bf-4ebc-be26-a63e07e5244c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UnProcessedOrders",
                "type": "array"
              }
            ]
          }
        },
        "Get_Current_Date": {
          "runAfter": {
            "Source_File_Path": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e0297799-9c4b-4cc7-b5a6-79600246557e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "GetCurrentDate",
                "type": "string",
                "value": "@{formatDateTime(utcNow(),'MM-dd-yyyy h.mm tt')}"
              }
            ]
          }
        },
        "Get_Email_Sender": {
          "runAfter": {
            "Get_Current_Date": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e52c6c58-cf7a-47a9-8049-66a4f6b3a78f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SenderName",
                "type": "string",
                "value": "@{first(split(triggerOutputs()?['body/from'],'@'))}"
              }
            ]
          }
        },
        "No_of_VMs": {
          "runAfter": {
            "Get_Email_Sender": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d7ec1bb3-1f9d-477c-bbe3-2b858e1617dd"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NoOfVMs",
                "type": "integer",
                "value": 2
              }
            ]
          }
        },
        "File_Name_for_different_files_": {
          "runAfter": {
            "Terminate_3": [
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "0202ba28-74da-4846-a390-aca6254844ff"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "fileName",
                "type": "integer",
                "value": 1
              }
            ]
          }
        },
        "Length_of_Rows_in_source_file": {
          "runAfter": {
            "File_Name_for_different_files_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "390e1f22-7fce-4aef-acf6-1a2e0f534ee6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Length",
                "type": "integer",
                "value": "@length(body('List_rows_present_in_source_file')?['value'])"
              }
            ]
          }
        },
        "Skip_Count": {
          "runAfter": {
            "Length_of_Rows_in_source_file": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cd62d79b-9de1-4b27-b500-99aa6f831d03"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "skipCount",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Records_per_Bot": {
          "runAfter": {
            "Skip_Count": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "89175b52-0e58-4b78-a545-da23209c5828"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NoOfBots",
                "type": "integer",
                "value": "@div(variables('Length'), variables('NoOfVMs'))"
              }
            ]
          }
        },
        "Mod_of_Records": {
          "runAfter": {
            "Records_per_Bot": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ff0f30ea-8efe-486c-b6cf-e4705ae0f256"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ModofRecords",
                "type": "integer",
                "value": "@mod(variables('Length'), variables('NoOfVMs'))"
              }
            ]
          }
        },
        "Concatenated_processed_orders": {
          "runAfter": {
            "Mod_of_Records": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "de15a933-a85b-47e6-8f7e-9d082105a1aa"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ConcatenatedProcessedOrders",
                "type": "string"
              }
            ]
          }
        },
        "Processed_orders_counter": {
          "runAfter": {
            "Concatenated_processed_orders": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e70ba3b4-07bf-4ebc-be26-a63e07e5244c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ProcessedOrdersCounter",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Split_processed_orders": {
          "runAfter": {
            "Processed_orders_counter": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e70ba3b4-07bf-4ebc-be26-a63e07e5244c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SplitProcessedOrders",
                "type": "array"
              }
            ]
          }
        },
        "List_headers_present_in_a_table": {
          "runAfter": {
            "split_Unprocessed_orders": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "04d2a004-cdf6-4789-9025-a82c774748b8",
            "tableId": "Orders"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
              "connectionName": "shared_excelonlinebusiness",
              "operationId": "GetItems"
            },
            "parameters": {
              "source": "me",
              "drive": "b!C7-yuaZ23UaZrGncNGZvN_JRZ0T0YadAtV-O-ItLzcrQN7acupJrT5-fAdKSy8bu",
              "file": "@variables('PathofFile')",
              "table": "Orders",
              "$top": 1,
              "$skip": 0,
              "dateTimeFormat": "ISO 8601"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 10000
            }
          }
        },
        "Create_CSV_table": {
          "runAfter": {
            "Terminate": [
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "adbc4c5f-f17d-4c14-a62c-2ad93d259a0c"
          },
          "type": "Table",
          "inputs": {
            "from": "@outputs('List_headers_present_in_a_table')?['body/value']",
            "format": "CSV"
          }
        },
        "Compose_4": {
          "runAfter": {
            "Create_CSV_table": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "db2500f3-013c-407f-93ec-dc40073cab20"
          },
          "type": "Compose",
          "inputs": "@split(split(body('Create_CSV_table'), decodeUriComponent('%0D%0A'))[0], ',')"
        },
        "Source_File_Columns_Condition": {
          "actions": {
            "Even_Odd_Records_Condition": {
              "actions": {
                "Even-even_condition": {
                  "actions": {
                    "List_rows_present_in_a_table": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "04d2a004-cdf6-4789-9025-a82c774748b8",
                        "tableId": "Orders"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                          "connectionName": "shared_excelonlinebusiness",
                          "operationId": "GetItems"
                        },
                        "parameters": {
                          "source": "me",
                          "drive": "b!C7-yuaZ23UaZrGncNGZvN_JRZ0T0YadAtV-O-ItLzcrQN7acupJrT5-fAdKSy8bu",
                          "file": "@variables('PathofFile')",
                          "table": "Orders",
                          "$top": "@variables('NoOfBots')",
                          "$skip": "@variables('skipCount')",
                          "dateTimeFormat": "ISO 8601"
                        },
                        "authentication": "@parameters('$authentication')"
                      },
                      "runtimeConfiguration": {
                        "paginationPolicy": {
                          "minimumItemCount": 10000
                        }
                      }
                    },
                    "Create_CSV_table_3": {
                      "runAfter": {
                        "Response_email_for_even-even_files_creation": [
                          "Skipped"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "9abf07a9-f0d9-411f-a54c-d8d0ed1691c0"
                      },
                      "type": "Table",
                      "inputs": {
                        "from": "@outputs('List_rows_present_in_a_table')?['body/value']",
                        "format": "CSV"
                      }
                    },
                    "Update_skipCount": {
                      "runAfter": {
                        "Create_Input_Files": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "007eaa55-598a-4e14-be71-dcd4d2dbe17a"
                      },
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "skipCount",
                        "value": "@variables('NoOfBots')"
                      }
                    },
                    "Update_File_Name": {
                      "runAfter": {
                        "Update_skipCount": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f282c03e-8187-4859-9ebd-06ce19bfdb16"
                      },
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "fileName",
                        "value": 1
                      }
                    },
                    "Create_Input_Files": {
                      "runAfter": {
                        "Create_new_folder": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "813ed117-d1fa-4a47-9358-6d87354f2a40"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "connectionName": "shared_sharepointonline",
                          "operationId": "CreateFile"
                        },
                        "parameters": {
                          "dataset": "https://crocsconnect-my.sharepoint.com/personal/thassan_crocs_com/_layouts/15/onedrive.aspx",
                          "folderPath": "/Documents/SAP/@{variables('GetCurrentDate')}/BotInputFile@{variables('fileName')}",
                          "name": "BotInputFile@{variables('fileName')}(@{variables('GetCurrentDate')}).csv",
                          "body": "@body('Create_CSV_table_3')"
                        },
                        "authentication": "@parameters('$authentication')"
                      },
                      "runtimeConfiguration": {
                        "contentTransfer": {
                          "transferMode": "Chunked"
                        }
                      }
                    },
                    "Create_new_folder": {
                      "runAfter": {
                        "Create_CSV_table_3": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "a433b635-7121-45ca-a5ba-200daf4dda0a"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "connectionName": "shared_sharepointonline",
                          "operationId": "CreateNewFolder"
                        },
                        "parameters": {
                          "dataset": "https://crocsconnect-my.sharepoint.com/personal/thassan_crocs_com/_layouts/15/onedrive.aspx",
                          "table": "Documents",
                          "parameters/path": "/SAP/@{variables('GetCurrentDate')}/BotInputFile@{variables('fileName')}"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Response_email_for_even-even_files_creation": {
                      "runAfter": {
                        "List_rows_present_in_a_table": [
                          "Failed"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "106ce5f3-3dfa-420f-aeae-c4ffb119ce80"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2"
                        },
                        "parameters": {
                          "emailMessage/To": "@triggerOutputs()?['body/from']",
                          "emailMessage/Subject": "Mass documents change error",
                          "emailMessage/Body": "<p>Good Day,<br>\n<br>\nFlow has stopped because @{outputs('List_rows_present_in_a_table')?['body'].error.message}<br>\nThanks,<br>\nCrocs Automation&nbsp;</p>"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "expression": "@equals(variables('skipCount'), variables('Length'))",
                  "limit": {
                    "count": 60,
                    "timeout": "PT1H"
                  },
                  "metadata": {
                    "operationMetadataId": "effc728a-69eb-4eb9-ae50-a108c6e9777d"
                  },
                  "type": "Until"
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Even-odd_VMs_or_records": {
                    "actions": {
                      "Terminate_6": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "85af5e38-3a81-442b-9960-4002de2e641a"
                        },
                        "type": "Terminate",
                        "inputs": {
                          "runStatus": "Failed"
                        }
                      }
                    },
                    "runAfter": {},
                    "else": {
                      "actions": {
                        "Even-odd_condition": {
                          "actions": {
                            "List_rows_present_in_a_table_3": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "04d2a004-cdf6-4789-9025-a82c774748b8",
                                "tableId": "Orders"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                                  "connectionName": "shared_excelonlinebusiness",
                                  "operationId": "GetItems"
                                },
                                "parameters": {
                                  "source": "me",
                                  "drive": "b!C7-yuaZ23UaZrGncNGZvN_JRZ0T0YadAtV-O-ItLzcrQN7acupJrT5-fAdKSy8bu",
                                  "file": "@variables('PathofFile')",
                                  "table": "Orders",
                                  "$top": "@add(variables('NoOfBots'), 1)",
                                  "$skip": "@variables('skipCount')",
                                  "dateTimeFormat": "ISO 8601"
                                },
                                "authentication": "@parameters('$authentication')"
                              },
                              "runtimeConfiguration": {
                                "paginationPolicy": {
                                  "minimumItemCount": 10000
                                }
                              }
                            },
                            "Create_CSV_table_2": {
                              "runAfter": {
                                "Response_email_for_even-odd_files_creation_2": [
                                  "Skipped"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "9abf07a9-f0d9-411f-a54c-d8d0ed1691c0"
                              },
                              "type": "Table",
                              "inputs": {
                                "from": "@outputs('List_rows_present_in_a_table_3')?['body/value']",
                                "format": "CSV"
                              }
                            },
                            "Update_skipCount_3": {
                              "runAfter": {
                                "Create_Input_Files_3": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "007eaa55-598a-4e14-be71-dcd4d2dbe17a"
                              },
                              "type": "IncrementVariable",
                              "inputs": {
                                "name": "skipCount",
                                "value": "@add(variables('NoOfBots'), 1)"
                              }
                            },
                            "Update_File_Name_3": {
                              "runAfter": {
                                "Update_skipCount_3": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "f282c03e-8187-4859-9ebd-06ce19bfdb16"
                              },
                              "type": "IncrementVariable",
                              "inputs": {
                                "name": "fileName",
                                "value": 1
                              }
                            },
                            "Create_Input_Files_3": {
                              "runAfter": {
                                "Create_new_folder_3": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "813ed117-d1fa-4a47-9358-6d87354f2a40"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                  "connectionName": "shared_sharepointonline",
                                  "operationId": "CreateFile"
                                },
                                "parameters": {
                                  "dataset": "https://crocsconnect-my.sharepoint.com/personal/thassan_crocs_com/_layouts/15/onedrive.aspx",
                                  "folderPath": "/Documents/SAP/@{variables('GetCurrentDate')}/BotInputFile@{variables('fileName')}",
                                  "name": "BotInputFile@{variables('fileName')}(@{variables('GetCurrentDate')}).csv",
                                  "body": "@body('Create_CSV_table_2')"
                                },
                                "authentication": "@parameters('$authentication')"
                              },
                              "runtimeConfiguration": {
                                "contentTransfer": {
                                  "transferMode": "Chunked"
                                }
                              }
                            },
                            "Create_new_folder_3": {
                              "runAfter": {
                                "Create_CSV_table_2": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "a433b635-7121-45ca-a5ba-200daf4dda0a"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                  "connectionName": "shared_sharepointonline",
                                  "operationId": "CreateNewFolder"
                                },
                                "parameters": {
                                  "dataset": "https://crocsconnect-my.sharepoint.com/personal/thassan_crocs_com/_layouts/15/onedrive.aspx",
                                  "table": "Documents",
                                  "parameters/path": "/SAP/@{variables('GetCurrentDate')}/BotInputFile@{variables('fileName')}"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Response_email_for_even-odd_files_creation_2": {
                              "runAfter": {
                                "List_rows_present_in_a_table_3": [
                                  "Failed"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "106ce5f3-3dfa-420f-aeae-c4ffb119ce80"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                                  "connectionName": "shared_office365",
                                  "operationId": "SendEmailV2"
                                },
                                "parameters": {
                                  "emailMessage/To": "@triggerOutputs()?['body/from']",
                                  "emailMessage/Subject": "Mass documents change error",
                                  "emailMessage/Body": "<p>Good Day,<br>\n<br>\nFlow has stopped because @{outputs('List_rows_present_in_a_table_3')?['body'].error.message}<br>\n<br>\nThanks,<br>\nCrocs Automation&nbsp;</p>"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          },
                          "runAfter": {},
                          "expression": "@greaterOrEquals(variables('skipCount'), variables('Length'))",
                          "limit": {
                            "count": 60,
                            "timeout": "PT1H"
                          },
                          "metadata": {
                            "operationMetadataId": "effc728a-69eb-4eb9-ae50-a108c6e9777d"
                          },
                          "type": "Until"
                        }
                      }
                    },
                    "expression": {
                      "less": [
                        "@variables('Length')",
                        "@variables('NoOfVMs')"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "8c395e7a-7155-432b-90c8-451771863619"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@variables('ModofRecords')",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "a38e6d46-9c33-406c-87c4-21a0d1680149"
              },
              "type": "If"
            },
            "Run_a_flow_built_with_Power_Automate_for_desktop": {
              "runAfter": {
                "Set_Start_Time": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "da156628-5966-4ea6-91bd-5458b656b967"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_uiflow",
                  "connectionName": "shared_uiflow_1",
                  "operationId": "RunUIFlow_V2"
                },
                "parameters": {
                  "uiFlowId": "5cd5af31-c19e-ec11-b400-002248806eaf",
                  "runMode": "unattended",
                  "item/SAPUsername": "ZSHABBIR",
                  "item/SAPUserPassword": "98yd2a$k@2I1",
                  "item/SystemID": "Q02",
                  "item/ClientID": "200",
                  "item/FromEmail": "zainab.shabbir@confiz.com",
                  "item/Username": "zshabbir",
                  "item/FileName": "BotInputFile2.csv",
                  "item/BotID": "Bot2",
                  "item/Onedrive_Folder": "@variables('GetCurrentDate')",
                  "x-ms-flow-trusted-access": true
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Send_a_response_error_email_in_case_of_desktop_flow_error": {
              "runAfter": {
                "Run_a_flow_built_with_Power_Automate_for_desktop": [
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "106ce5f3-3dfa-420f-aeae-c4ffb119ce80"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2"
                },
                "parameters": {
                  "emailMessage/To": "@triggerOutputs()?['body/from']",
                  "emailMessage/Subject": "Mass documents change error",
                  "emailMessage/Body": "<p>Good Day,<br>\n<br>\nFlow is stopped because &nbsp;@{outputs('Run_a_flow_built_with_Power_Automate_for_desktop')?['body'].error.message}<br>\nThanks,<br>\n<br>\nCrocs Automation&nbsp;</p>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Compose_5": {
              "runAfter": {
                "Append_to_overall_execution_time": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "df58e15e-5b7a-4e28-9bcd-f11b87e7e745"
              },
              "type": "Compose",
              "inputs": "@concat(outputs('Run_a_flow_built_with_Power_Automate_for_desktop')?['body/ProcessedOrders'], ';', outputs('Run_a_flow_built_with_Power_Automate_for_desktop')?['body/ProcessedOrders'])"
            },
            "Processed_orders_Excel_update": {
              "actions": {
                "Set_SplitProcessedOrders": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "c98ef6c9-be82-4bc9-bc73-04d032e78405"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "SplitProcessedOrders",
                    "value": "@split(outputs('Compose_5'), ';')"
                  }
                },
                "Apply_to_each_processed_order": {
                  "foreach": "@variables('SplitProcessedOrders')",
                  "actions": {
                    "Update_a_processed_status_row": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "d945011c-4cf4-4c79-ba0f-86adf1a3867e",
                        "tableId": "Orders"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                          "connectionName": "shared_excelonlinebusiness",
                          "operationId": "PatchItem"
                        },
                        "parameters": {
                          "source": "me",
                          "drive": "b!C7-yuaZ23UaZrGncNGZvN_JRZ0T0YadAtV-O-ItLzcrQN7acupJrT5-fAdKSy8bu",
                          "file": "@variables('PathofFile')",
                          "table": "Orders",
                          "idColumn": "Sales Document",
                          "id": "@int(variables('SplitProcessedOrders')?[variables('ProcessedOrdersCounter')])",
                          "item": {
                            "Status": "Complete",
                            "OverallJobExecutionTime": "@variables('OverallExecutionTime')"
                          }
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Increment_processed_orders_counter": {
                      "runAfter": {
                        "Send_a_response_error_email_in_case_of_processed_orders_status": [
                          "Skipped"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "781cb069-d90a-4f02-968e-9d5758a6dd7b"
                      },
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "ProcessedOrdersCounter",
                        "value": 1
                      }
                    },
                    "Send_a_response_error_email_in_case_of_processed_orders_status": {
                      "runAfter": {
                        "Update_a_processed_status_row": [
                          "Failed"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "106ce5f3-3dfa-420f-aeae-c4ffb119ce80"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2"
                        },
                        "parameters": {
                          "emailMessage/To": "@triggerOutputs()?['body/from']",
                          "emailMessage/Subject": "Mass documents change error",
                          "emailMessage/Body": "<p>Good Day,<br>\n<br>\nFlow is stopped because @{outputs('Update_a_processed_status_row')?['body'].error.message}<br>\n<br>\nThanks,<br>\n<br>\nCrocs Automation&nbsp;</p>"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Set_SplitProcessedOrders": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "276246b2-23ae-461d-86ba-c0c3c9cf3956"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Set_concatenated_processed_orders": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "startsWith": [
                        "@variables('ConcatenatedProcessedOrders')",
                        ";"
                      ]
                    }
                  },
                  {
                    "not": {
                      "endsWith": [
                        "@variables('ConcatenatedProcessedOrders')",
                        ";"
                      ]
                    }
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "8c8ceaac-8f80-413c-90d0-f5472eb2e3a2"
              },
              "type": "If"
            },
            "Send_an_email_Notification": {
              "runAfter": {
                "Even_Odd_Records_Condition": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f758e623-238a-4284-bd15-486827809f93"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2"
                },
                "parameters": {
                  "emailMessage/To": "@triggerOutputs()?['body/from']",
                  "emailMessage/Subject": "Crocs RPA Triggered",
                  "emailMessage/Body": "<p>Hi,<br>\n<br>\nWe have received your file! BOTs have been triggered and are hard at work to process the sales orders. <br>\n<br>\nAn execution report will be sent once completed.<br>\n<br>\nThanks,<br>\nCrocs Automation</p>",
                  "emailMessage/Cc": "lisaroy@powerplatformops.onmicrosoft.com"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_concatenated_processed_orders": {
              "runAfter": {
                "Compose_5": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e0f222ac-27d4-4e0a-84ee-1f5cd1f61e51"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "ConcatenatedProcessedOrders",
                "value": "@{outputs('Compose_5')}"
              }
            },
            "UnProcessed_orders_Excel_update": {
              "actions": {
                "Apply_to_each_unprocessed_order": {
                  "foreach": "@variables('UnProcessedOrders')",
                  "actions": {
                    "Update_unprocessed_status_row": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "cb1fe5dd-9012-4132-bff6-81e2aaa067dd",
                        "tableId": "Orders"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                          "connectionName": "shared_excelonlinebusiness",
                          "operationId": "PatchItem"
                        },
                        "parameters": {
                          "source": "me",
                          "drive": "b!C7-yuaZ23UaZrGncNGZvN_JRZ0T0YadAtV-O-ItLzcrQN7acupJrT5-fAdKSy8bu",
                          "file": "/SAP/@{variables('GetCurrentDate')}/@{variables('SenderName')}-MainInputFile(@{variables('GetCurrentDate')}).xlsx",
                          "table": "Orders",
                          "idColumn": "Sales Document",
                          "id": "@int(variables('UnProcessedOrders')[variables('UnProcessedCounter')])",
                          "item": {
                            "Status": "ERROR",
                            "OverallJobExecutionTime": "@variables('OverallExecutionTime')"
                          }
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Increment_unprocessed_order_counter": {
                      "runAfter": {
                        "Send_a_response_error_email_in_case_of_unprocessed_orders_status": [
                          "Skipped"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "481135c8-157b-4ea2-96b4-b4e2aa3a9e83"
                      },
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "UnProcessedCounter",
                        "value": 1
                      }
                    },
                    "Send_a_response_error_email_in_case_of_unprocessed_orders_status": {
                      "runAfter": {
                        "Update_unprocessed_status_row": [
                          "Failed"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "106ce5f3-3dfa-420f-aeae-c4ffb119ce80"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2"
                        },
                        "parameters": {
                          "emailMessage/To": "@triggerOutputs()?['body/from']",
                          "emailMessage/Subject": "Mass documents change error",
                          "emailMessage/Body": "<p>Good Day,<br>\n<br>\nFlow is stopped because @{outputs('Update_unprocessed_status_row')?['body'].error.message}<br>\n<br>\nThanks,<br>\n<br>\nCrocs Automation&nbsp;</p>"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Set_SplitUnprocessedOrders": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "448701d6-4098-4b37-b6a4-d7b0695e2590"
                  },
                  "type": "Foreach"
                },
                "Set_SplitUnprocessedOrders": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "112267f9-64cc-4751-9b18-da9d2a0fde7f"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "UnProcessedOrders",
                    "value": "@split(outputs('Compose_6'), ';')"
                  }
                }
              },
              "runAfter": {
                "Set_Concatenated_unprocessed_orders": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "startsWith": [
                        "@variables('ConcatenatedUnprocessedOrders')",
                        ";"
                      ]
                    }
                  },
                  {
                    "not": {
                      "endsWith": [
                        "@variables('ConcatenatedUnprocessedOrders')",
                        ";"
                      ]
                    }
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "16641f65-968f-4997-a436-76a8cc8eed40"
              },
              "type": "If"
            },
            "Set_Concatenated_unprocessed_orders": {
              "runAfter": {
                "Compose_6": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b17c1b6b-b8f9-442c-b23f-c06fc514030f"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "ConcatenatedUnprocessedOrders",
                "value": "@{outputs('Compose_6')}"
              }
            },
            "Delay": {
              "runAfter": {
                "UnProcessed_orders_Excel_update": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "88b9d643-12c4-4725-803a-482aa779a361"
              },
              "type": "Wait",
              "inputs": {
                "interval": {
                  "count": 30,
                  "unit": "Second"
                }
              }
            },
            "Get_file_content_using_path": {
              "runAfter": {
                "Delay": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7d23da0d-d6bf-4596-90b0-aeffbc357c96"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
                  "connectionName": "shared_onedriveforbusiness_1",
                  "operationId": "GetFileContentByPath"
                },
                "parameters": {
                  "path": "/SAP/@{variables('GetCurrentDate')}/@{variables('SenderName')}-MainInputFile(@{variables('GetCurrentDate')}).xlsx",
                  "inferContentType": true
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Send_a_response_error_email_in_case_of_response_file_path_error": {
              "runAfter": {
                "Get_file_content_using_path": [
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "106ce5f3-3dfa-420f-aeae-c4ffb119ce80"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2"
                },
                "parameters": {
                  "emailMessage/To": "@triggerOutputs()?['body/from']",
                  "emailMessage/Subject": "Mass documents change error",
                  "emailMessage/Body": "<p>Good Day,<br>\n<br>\nFlow is stopped because @{outputs('Get_file_content_using_path')?['body'].error.message}<br>\nThanks,<br>\n<br>\nCrocs Automation&nbsp;</p>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition": {
              "actions": {
                "Send_an_email_(V2)": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "106ce5f3-3dfa-420f-aeae-c4ffb119ce80"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                      "connectionName": "shared_office365",
                      "operationId": "SendEmailV2"
                    },
                    "parameters": {
                      "emailMessage/To": "@triggerOutputs()?['body/from']",
                      "emailMessage/Subject": "Mass documents change [Update Completed]",
                      "emailMessage/Body": "<p>Good Day,<br>\n<br>\nThe update request was completed successfully. There were 0 errors.<br>\n<br>\n<a href=\"https://app.powerbi.com/groups/me/reports/63563054-dcb3-4dd4-8377-0f512ac3e4a2/ReportSection\">RPA Dashboard</a><br>\n<br>\n<br>\nThanks,<br>\nCrocs Automation&nbsp;</p>",
                      "emailMessage/Bcc": "zshabbir@crocs.com",
                      "emailMessage/Attachments": [
                        {
                          "Name": "Mass Sales Order Change.xlsx",
                          "ContentBytes": "@body('Get_file_content_using_path')"
                        }
                      ]
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Refresh_a_dataset": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Send_an_email_(V2)_2": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "1111beda-7d11-4a10-8b59-40b27a48acbd"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                        "connectionName": "shared_office365",
                        "operationId": "SendEmailV2"
                      },
                      "parameters": {
                        "emailMessage/To": "@triggerOutputs()?['body/from']",
                        "emailMessage/Subject": "Mass documents change [Update Completed]",
                        "emailMessage/Body": "<p>Good Day,<br>\n<br>\nYour update request has been processed! There were @{variables('UnProcessedCounter')} errors.<br>\n<br>\nThanks,<br>\nCrocs Automation</p>",
                        "emailMessage/Bcc": "zshabbir@crocs.com",
                        "emailMessage/Attachments": [
                          {
                            "Name": "Mass Sales Order Change.xlsx",
                            "ContentBytes": "@body('Get_file_content_using_path')"
                          }
                        ]
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@empty(outputs('Run_a_flow_built_with_Power_Automate_for_desktop')?['body/UnProcessedOrders'])",
                      true
                    ]
                  },
                  {
                    "equals": [
                      "@empty(outputs('Run_a_flow_built_with_Power_Automate_for_desktop')?['body/UnProcessedOrders'])",
                      true
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "f3a412b8-06f0-47d6-92d8-0b7dc07a4a3a"
              },
              "type": "If"
            },
            "Compose_6": {
              "runAfter": {
                "Processed_orders_Excel_update": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "df58e15e-5b7a-4e28-9bcd-f11b87e7e745"
              },
              "type": "Compose",
              "inputs": "@concat(outputs('Run_a_flow_built_with_Power_Automate_for_Desktop')?['body/UnProcessedOrders'], ';', outputs('Run_a_flow_built_with_Power_Automate_for_Desktop')?['body/UnProcessedOrders'])"
            },
            "Terminate_5": {
              "runAfter": {
                "Send_a_response_error_email_in_case_of_desktop_flow_error": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e658d480-bcd5-4d04-895f-c2a4ce2c9f59"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              }
            },
            "Terminate_7": {
              "runAfter": {
                "Send_a_response_error_email_in_case_of_response_file_path_error": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b437e493-353f-443b-b522-42e898aafa39"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              }
            },
            "Set_Start_Time": {
              "runAfter": {
                "Send_an_email_Notification": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "81dc3e69-417c-416d-b274-f43b2d271ae8"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "StartTime",
                "value": "@{utcNow()}"
              }
            },
            "Set_End_Time": {
              "runAfter": {
                "Terminate_5": [
                  "Skipped"
                ]
              },
              "metadata": {
                "operationMetadataId": "dfbb70bc-1c0c-4db0-b58b-191d2767a6e5"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "EndTime",
                "value": "@{utcNow()}"
              }
            },
            "Append_to_overall_execution_time": {
              "runAfter": {
                "Set_End_Time": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "65beab23-e3aa-40b1-963e-e0ccb2e9b28c"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "OverallExecutionTime",
                "value": "@div(sub(ticks(variables('EndTime')),ticks(variables('StartTime'))),600000000)"
              }
            },
            "Refresh_a_dataset": {
              "runAfter": {
                "Terminate_7": [
                  "Skipped"
                ]
              },
              "metadata": {
                "operationMetadataId": "8e2de5d9-6366-4f81-8035-d6da002a2f6e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerbi",
                  "connectionName": "shared_powerbi",
                  "operationId": "RefreshDataset"
                },
                "parameters": {
                  "groupid": "myworkspace",
                  "datasetid": "56843e45-54f8-4a05-a1ca-5e090d0bfd20"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Status_Column_Condition": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Response_email_for_source_columns_inconsistency": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "106ce5f3-3dfa-420f-aeae-c4ffb119ce80"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                    "connectionName": "shared_office365",
                    "operationId": "SendEmailV2"
                  },
                  "parameters": {
                    "emailMessage/To": "@triggerOutputs()?['body/from']",
                    "emailMessage/Subject": "Mass documents change error",
                    "emailMessage/Body": "<p>Good Day,<br>\n<br>\nFlow has stopped because Column or property not found.<br>\nThanks,<br>\n<br>\nThanks,<br>\nCrocs Automation&nbsp;</p>"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Terminate_4": {
                "runAfter": {
                  "Response_email_for_source_columns_inconsistency": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "4bcd8f13-20a5-4deb-94fe-786b95aa0d2f"
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed"
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "contains": [
                  "@toUpper(outputs('Compose_4'))",
                  "New RDD"
                ]
              },
              {
                "contains": [
                  "@outputs('Compose_4')",
                  "New Cancel"
                ]
              },
              {
                "contains": [
                  "@outputs('Compose_4')",
                  "Sales Document"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "60712d29-ca00-4c16-ad80-aaa800fd508d"
          },
          "type": "If"
        },
        "Response_email_for_source_file_columns_inconsistency": {
          "runAfter": {
            "List_headers_present_in_a_table": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "106ce5f3-3dfa-420f-aeae-c4ffb119ce80"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2"
            },
            "parameters": {
              "emailMessage/To": "@triggerOutputs()?['body/from']",
              "emailMessage/Subject": "Mass documents change error",
              "emailMessage/Body": "<p>Good Day,<br>\n<br>\nFlow is stopped because @{outputs('List_headers_present_in_a_table')?['body'].error.message}<br>\nThanks,<br>\nCrocs Automation&nbsp;</p>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Terminate": {
          "runAfter": {
            "Response_email_for_source_file_columns_inconsistency": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b80dbb7e-ec65-4d4c-8389-ec3bca783fa7"
          },
          "type": "Terminate",
          "inputs": {
            "runStatus": "Failed"
          }
        },
        "Status_Column_Condition": {
          "actions": {
            "Add_a_key_column_OverallExecutionTime": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "13a32415-8e5f-4f73-9f5e-170dcdca5d53",
                "tableId": "Orders"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                  "connectionName": "shared_excelonlinebusiness",
                  "operationId": "CreateIdColumn"
                },
                "parameters": {
                  "source": "me",
                  "drive": "b!C7-yuaZ23UaZrGncNGZvN_JRZ0T0YadAtV-O-ItLzcrQN7acupJrT5-fAdKSy8bu",
                  "file": "@variables('PathofFile')",
                  "table": "Orders",
                  "idColumn": "OverallJobExecutionTime"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Compose_4": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Add_a_key_column_Status": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "13a32415-8e5f-4f73-9f5e-170dcdca5d53",
                  "tableId": "Orders"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                    "connectionName": "shared_excelonlinebusiness",
                    "operationId": "CreateIdColumn"
                  },
                  "parameters": {
                    "source": "me",
                    "drive": "b!C7-yuaZ23UaZrGncNGZvN_JRZ0T0YadAtV-O-ItLzcrQN7acupJrT5-fAdKSy8bu",
                    "file": "@variables('PathofFile')",
                    "table": "Orders",
                    "idColumn": "Status"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Add_a_key_column_OverallExecutionTime_1": {
                "runAfter": {
                  "Add_a_key_column_Status": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "13a32415-8e5f-4f73-9f5e-170dcdca5d53",
                  "tableId": "Orders"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                    "connectionName": "shared_excelonlinebusiness",
                    "operationId": "CreateIdColumn"
                  },
                  "parameters": {
                    "source": "me",
                    "drive": "b!C7-yuaZ23UaZrGncNGZvN_JRZ0T0YadAtV-O-ItLzcrQN7acupJrT5-fAdKSy8bu",
                    "file": "@variables('PathofFile')",
                    "table": "Orders",
                    "idColumn": "OverallJobExecutionTime"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "contains": [
              "@outputs('Compose_4')",
              "Status"
            ]
          },
          "metadata": {
            "operationMetadataId": "80937d47-4122-4b94-ab85-3ae27dfa0e02"
          },
          "type": "If"
        },
        "Response_email_for_source_file_error": {
          "runAfter": {
            "List_rows_present_in_source_file": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "106ce5f3-3dfa-420f-aeae-c4ffb119ce80"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2"
            },
            "parameters": {
              "emailMessage/To": "@triggerOutputs()?['body/from']",
              "emailMessage/Subject": "Mass documents change error",
              "emailMessage/Body": "<p>Good Day,<br>\n<br>\nFlow has stopped because @{outputs('List_rows_present_in_source_file')?['body'].error.message}<br>\n<br>\nThanks,<br>\nCrocs Automation&nbsp;</p>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Terminate_3": {
          "runAfter": {
            "Response_email_for_source_file_error": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d353a8ef-7adb-4084-b9d3-cd1888645bf3"
          },
          "type": "Terminate",
          "inputs": {
            "runStatus": "Failed"
          }
        },
        "Overall_Execution_Time": {
          "runAfter": {
            "No_of_VMs": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8a7729c3-1c60-4a48-88f9-1916f3d640a4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "OverallExecutionTime",
                "type": "string",
                "value": "`"
              }
            ]
          }
        },
        "Start_Time": {
          "runAfter": {
            "Overall_Execution_Time": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bdfda6e2-1761-471e-b1b6-62c24ee069a8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "StartTime",
                "type": "string"
              }
            ]
          }
        },
        "End_Time": {
          "runAfter": {
            "Start_Time": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "930bb083-0475-43b8-9dd7-6e17b282e8fa"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EndTime",
                "type": "string"
              }
            ]
          }
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}